html, body, #wrapper, #page-content-wrapper, .map-container  {
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

#wellcome_wrapper {
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  background: #1aa1d4;
  position: absolute;
  text-align: center;
}

#wellcome_brand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  color: #005474 ;
}

#wellcome_brand h4 {
  margin-bottom: 30px;
}

#wellcome_brand .btn.btn-default {
  line-height: 3em;
  background: #46629E;
  border: none;
}

#wellcome_brand .btn.btn-default:hover {
  background: #5F7DBD;
}

#wellcome_brand .btn-icon {
  font-size: 2em;
  margin: 0px 10px 0px 5px;
  color: #fff;
  vertical-align: middle;
}

#wellcome_brand .btn-text {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

#wellcome_about {
  text-align: right;
  position: absolute;
  float: right;
  right: 30px;
  bottom: 20px;
}

#wellcome_about, #wellcome_about a {
  color: #fff;
}

#wellcome_about #version {
  color: #06749e;
  font-size: smaller;
}

#wrapper, #page-content-wrapper, .map-container {
  position: relative;
}

#wellcome_wrapper {
  background: #
}

#userbar-wrapper {
  position: absolute;
  float: right;
  right: 30px;
  top: 20px;
  z-index: 101;
}

#userbar-wrapper .user_pic {
  border-radius: 3px;
  height: 28px;
  width: 28px;
  margin-right: 10px;
}


.map-container {
  z-index: 99;
}

#navbar-wrapper {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 100;
}

.navbar .container {
  width: auto;
  /*
  padding-left: 0.5em;
  background: #fff;
  */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

.btn.btn-default {
  color: #999999;
}

/*
#navbar-wrapper a.btn.btn-default  {
  border: 0px;
  font-size: medium;
}
*/

#directions-button {
  color: #679df6;
}
